examples/google-business-profile/Google_Business_Profile_Example.json
{"flowContents":{"identifier":"e3499f35-8444-3b39-af4c-be4c99761815","instanceIdentifier":"8fa95438-0195-1000-bf17-f706f38f4d50","name":"Google Business Profile Example","comments":"","position":{"x":3291.354926603345,"y":-82.9107694555961},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"6e422bbd-b8c3-3dcb-8a83-b4212f63e4b5","instanceIdentifier":"848a19fc-9b5f-3858-97f9-1393f65a8bd5","name":"LogAttribute","comments":"","position":{"x":1232.9999830445352,"y":274.00281961902397},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e3499f35-8444-3b39-af4c-be4c99761815"},{"identifier":"e99df5ec-02c3-3714-be7d-2a1c2667117e","instanceIdentifier":"04369e22-7497-3a0c-d762-0f31c74a5b31","name":"InvokeHTTP","comments":"","position":{"x":576.9999830445352,"y":274.00281961902397},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://mybusinessaccountmanagement.googleapis.com/v1/accounts","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","oauth2-access-token-provider":"939575cc-b2ed-328f-9581-1a5935cc7ec9","Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e3499f35-8444-3b39-af4c-be4c99761815"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"209e68f8-81e2-38c2-93b7-52d9cd6f4ac3","instanceIdentifier":"f8e354e5-e729-337d-b538-dfcf40d38cd6","name":"","source":{"id":"e99df5ec-02c3-3714-be7d-2a1c2667117e","type":"PROCESSOR","groupId":"e3499f35-8444-3b39-af4c-be4c99761815","name":"InvokeHTTP","comments":"","instanceIdentifier":"04369e22-7497-3a0c-d762-0f31c74a5b31"},"destination":{"id":"6e422bbd-b8c3-3dcb-8a83-b4212f63e4b5","type":"PROCESSOR","groupId":"e3499f35-8444-3b39-af4c-be4c99761815","name":"LogAttribute","comments":"","instanceIdentifier":"848a19fc-9b5f-3858-97f9-1393f65a8bd5"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response","No Retry","Retry","Original","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e3499f35-8444-3b39-af4c-be4c99761815"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"939575cc-b2ed-328f-9581-1a5935cc7ec9","instanceIdentifier":"9102587e-9e0d-3bfa-892c-9b434310f7d3","name":"GCPOauth2AccessTokenProvider","comments":"","type":"com.dloop.nifi.gcp.oauth2.GCPOauth2AccessTokenProvider","bundle":{"group":"com.dloop","artifact":"nifi-gcp-oauth2-provider-nar","version":"1.0.0"},"properties":{"delegate":null,"scope":"https://www.googleapis.com/auth/business.manage","gcp-credentials-provider-service":"374afd3d-0b5a-308b-bdf9-a420d4290f57"},"propertyDescriptors":{"delegate":{"name":"delegate","displayName":"Delegate","identifiesControllerService":false,"sensitive":false},"scope":{"name":"scope","displayName":"Scope","identifiesControllerService":false,"sensitive":false},"gcp-credentials-provider-service":{"name":"gcp-credentials-provider-service","displayName":"GCP Credentials Provider Service","identifiesControllerService":true,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.oauth2.OAuth2AccessTokenProvider","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"e3499f35-8444-3b39-af4c-be4c99761815"},{"identifier":"374afd3d-0b5a-308b-bdf9-a420d4290f57","instanceIdentifier":"03553481-408e-3fd3-2e19-fdf1152f3d6c","name":"GCPCredentialsControllerService","comments":"","type":"org.apache.nifi.processors.gcp.credentials.service.GCPCredentialsControllerService","bundle":{"group":"org.apache.nifi","artifact":"nifi-gcp-nar","version":"1.21.0"},"properties":{"proxy-configuration-service":null,"compute-engine-credentials":"false","application-default-credentials":"false","service-account-json-file":null},"propertyDescriptors":{"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"compute-engine-credentials":{"name":"compute-engine-credentials","displayName":"Use Compute Engine Credentials","identifiesControllerService":false,"sensitive":false},"application-default-credentials":{"name":"application-default-credentials","displayName":"Use Application Default Credentials","identifiesControllerService":false,"sensitive":false},"service-account-json-file":{"name":"service-account-json-file","displayName":"Service Account JSON File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"service-account-json":{"name":"service-account-json","displayName":"Service Account JSON","identifiesControllerService":false,"sensitive":true}},"controllerServiceApis":[{"type":"org.apache.nifi.gcp.credentials.service.GCPCredentialsService","bundle":{"group":"org.apache.nifi","artifact":"nifi-gcp-services-api-nar","version":"1.21.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"e3499f35-8444-3b39-af4c-be4c99761815"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}