examples/google-business-profile/Google_Business_Profile_Example.json
{
    "flowContents": {
        "identifier": "e3499f35-8444-3b39-af4c-be4c99761815",
        "instanceIdentifier": "8fa95438-0195-1000-bf17-f706f38f4d50",
        "name": "Google Business Profile Example",
        "comments": "",
        "position": {
            "x": 0.0,
            "y": 0.0
        },
        "processGroups": [],
        "remoteProcessGroups": [],
        "processors": [
            {
                "identifier": "6e422bbd-b8c3-3dcb-8a83-b4212f63e4b5",
                "instanceIdentifier": "91dc18e7-b14c-353a-0826-b5c213ecac72",
                "name": "LogAttribute",
                "comments": "",
                "position": {
                    "x": 350.0,
                    "y": 0
                },
                "type": "org.apache.nifi.processors.standard.LogAttribute",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "2.9.0"
                },
                "properties": {
                    "Log FlowFile Properties": "true",
                    "Log Level": "info",
                    "Attributes to Ignore": null,
                    "Attributes to Log": null,
                    "Attributes to Ignore Regular Expression": null,
                    "Output Format": "Line per Attribute",
                    "Log Payload": "false",
                    "Log Prefix": null,
                    "Character Set": "UTF-8",
                    "Attributes to Log Regular Expression": ".*"
                },
                "propertyDescriptors": {
                    "Log FlowFile Properties": {
                        "name": "Log FlowFile Properties",
                        "displayName": "Log FlowFile Properties",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Log Level": {
                        "name": "Log Level",
                        "displayName": "Log Level",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Attributes to Ignore": {
                        "name": "Attributes to Ignore",
                        "displayName": "Attributes to Ignore",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Attributes to Log": {
                        "name": "Attributes to Log",
                        "displayName": "Attributes to Log",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Attributes to Ignore Regular Expression": {
                        "name": "Attributes to Ignore Regular Expression",
                        "displayName": "Attributes to Ignore Regular Expression",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Output Format": {
                        "name": "Output Format",
                        "displayName": "Output Format",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Log Payload": {
                        "name": "Log Payload",
                        "displayName": "Log Payload",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Log Prefix": {
                        "name": "Log Prefix",
                        "displayName": "Log Prefix",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Character Set": {
                        "name": "Character Set",
                        "displayName": "Character Set",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Attributes to Log Regular Expression": {
                        "name": "Attributes to Log Regular Expression",
                        "displayName": "Attributes to Log Regular Expression",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 25,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": ["success"],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "58179739-8618-3170-ac4f-7f616bdb30e5"
            },
            {
                "identifier": "e99df5ec-02c3-3714-be7d-2a1c2667117e",
                "instanceIdentifier": "de3d64c6-2301-364d-831f-afd3344e3b07",
                "name": "InvokeHTTP",
                "comments": "",
                "position": {
                    "x": -350.0,
                    "y": 0
                },
                "type": "org.apache.nifi.processors.standard.InvokeHTTP",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "2.9.0"
                },
                "properties": {
                    "Request Content-Encoding": "DISABLED",
                    "Request Multipart Form-Data Filename Enabled": "true",
                    "Request Chunked Transfer-Encoding Enabled": "false",
                    "Response Header Request Attributes Prefix": null,
                    "Proxy Configuration Service": null,
                    "HTTP/2 Disabled": "False",
                    "Connection Timeout": "5 secs",
                    "Response Cookie Strategy": "DISABLED",
                    "Socket Read Timeout": "15 secs",
                    "Socket Idle Connections": "5",
                    "Request Body Enabled": "true",
                    "OAuth2 Access Token Refresh Strategy": "ON_TOKEN_EXPIRATION",
                    "HTTP URL": "https://mybusinessaccountmanagement.googleapis.com/v1/accounts",
                    "Request OAuth2 Access Token Provider": "939575cc-b2ed-328f-9581-1a5935cc7ec9",
                    "Socket Idle Timeout": "5 mins",
                    "Response Redirects Enabled": "True",
                    "x-goog-user-project": "",
                    "Socket Write Timeout": "15 secs",
                    "Request Header Attributes Pattern": null,
                    "Response FlowFile Naming Strategy": "RANDOM",
                    "Response Cache Enabled": "false",
                    "Request Date Header Enabled": "True",
                    "Request Failure Penalization Enabled": "false",
                    "Response Body Attribute Size": "256",
                    "SSL Context Service": null,
                    "Response Generation Required": "true",
                    "Request User-Agent": null,
                    "Response Header Request Attributes Enabled": "false",
                    "HTTP Method": "GET",
                    "Request Username": null,
                    "Request Content-Type": "${mime.type}",
                    "Response Body Attribute Name": null,
                    "Request Digest Authentication Enabled": "false",
                    "Request Multipart Form-Data Name": null,
                    "Response Cache Size": "10MB",
                    "Response Body Ignored": "false"
                },
                "propertyDescriptors": {
                    "Request Content-Encoding": {
                        "name": "Request Content-Encoding",
                        "displayName": "Request Content-Encoding",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Request Multipart Form-Data Filename Enabled": {
                        "name": "Request Multipart Form-Data Filename Enabled",
                        "displayName": "Request Multipart Form-Data Filename Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Request Chunked Transfer-Encoding Enabled": {
                        "name": "Request Chunked Transfer-Encoding Enabled",
                        "displayName": "Request Chunked Transfer-Encoding Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Response Header Request Attributes Prefix": {
                        "name": "Response Header Request Attributes Prefix",
                        "displayName": "Response Header Request Attributes Prefix",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Proxy Configuration Service": {
                        "name": "Proxy Configuration Service",
                        "displayName": "Proxy Configuration Service",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "HTTP/2 Disabled": {
                        "name": "HTTP/2 Disabled",
                        "displayName": "HTTP/2 Disabled",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Connection Timeout": {
                        "name": "Connection Timeout",
                        "displayName": "Connection Timeout",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Response Cookie Strategy": {
                        "name": "Response Cookie Strategy",
                        "displayName": "Response Cookie Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Request Password": {
                        "name": "Request Password",
                        "displayName": "Request Password",
                        "identifiesControllerService": false,
                        "sensitive": true,
                        "dynamic": false
                    },
                    "Socket Read Timeout": {
                        "name": "Socket Read Timeout",
                        "displayName": "Socket Read Timeout",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Socket Idle Connections": {
                        "name": "Socket Idle Connections",
                        "displayName": "Socket Idle Connections",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Request Body Enabled": {
                        "name": "Request Body Enabled",
                        "displayName": "Request Body Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "OAuth2 Access Token Refresh Strategy": {
                        "name": "OAuth2 Access Token Refresh Strategy",
                        "displayName": "OAuth2 Access Token Refresh Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "HTTP URL": {
                        "name": "HTTP URL",
                        "displayName": "HTTP URL",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Request OAuth2 Access Token Provider": {
                        "name": "Request OAuth2 Access Token Provider",
                        "displayName": "Request OAuth2 Access Token Provider",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Socket Idle Timeout": {
                        "name": "Socket Idle Timeout",
                        "displayName": "Socket Idle Timeout",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Response Redirects Enabled": {
                        "name": "Response Redirects Enabled",
                        "displayName": "Response Redirects Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "x-goog-user-project": {
                        "name": "x-goog-user-project",
                        "displayName": "x-goog-user-project",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": true
                    },
                    "Socket Write Timeout": {
                        "name": "Socket Write Timeout",
                        "displayName": "Socket Write Timeout",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Request Header Attributes Pattern": {
                        "name": "Request Header Attributes Pattern",
                        "displayName": "Request Header Attributes Pattern",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Response FlowFile Naming Strategy": {
                        "name": "Response FlowFile Naming Strategy",
                        "displayName": "Response FlowFile Naming Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Response Cache Enabled": {
                        "name": "Response Cache Enabled",
                        "displayName": "Response Cache Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Request Date Header Enabled": {
                        "name": "Request Date Header Enabled",
                        "displayName": "Request Date Header Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Request Failure Penalization Enabled": {
                        "name": "Request Failure Penalization Enabled",
                        "displayName": "Request Failure Penalization Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Response Body Attribute Size": {
                        "name": "Response Body Attribute Size",
                        "displayName": "Response Body Attribute Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "SSL Context Service": {
                        "name": "SSL Context Service",
                        "displayName": "SSL Context Service",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Response Generation Required": {
                        "name": "Response Generation Required",
                        "displayName": "Response Generation Required",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Request User-Agent": {
                        "name": "Request User-Agent",
                        "displayName": "Request User-Agent",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Response Header Request Attributes Enabled": {
                        "name": "Response Header Request Attributes Enabled",
                        "displayName": "Response Header Request Attributes Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "HTTP Method": {
                        "name": "HTTP Method",
                        "displayName": "HTTP Method",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Request Username": {
                        "name": "Request Username",
                        "displayName": "Request Username",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Request Content-Type": {
                        "name": "Request Content-Type",
                        "displayName": "Request Content-Type",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Response Body Attribute Name": {
                        "name": "Response Body Attribute Name",
                        "displayName": "Response Body Attribute Name",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Request Digest Authentication Enabled": {
                        "name": "Request Digest Authentication Enabled",
                        "displayName": "Request Digest Authentication Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Request Multipart Form-Data Name": {
                        "name": "Request Multipart Form-Data Name",
                        "displayName": "Request Multipart Form-Data Name",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Response Cache Size": {
                        "name": "Response Cache Size",
                        "displayName": "Response Cache Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Response Body Ignored": {
                        "name": "Response Body Ignored",
                        "displayName": "Response Body Ignored",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "58179739-8618-3170-ac4f-7f616bdb30e5"
            }
        ],
        "inputPorts": [],
        "outputPorts": [],
        "connections": [
            {
                "identifier": "209e68f8-81e2-38c2-93b7-52d9cd6f4ac3",
                "instanceIdentifier": "fbcfc3e0-c242-3f41-d9fc-48ea297b6f3e",
                "name": "",
                "source": {
                    "id": "e99df5ec-02c3-3714-be7d-2a1c2667117e",
                    "type": "PROCESSOR",
                    "groupId": "58179739-8618-3170-ac4f-7f616bdb30e5",
                    "name": "InvokeHTTP",
                    "comments": "",
                    "instanceIdentifier": "de3d64c6-2301-364d-831f-afd3344e3b07"
                },
                "destination": {
                    "id": "6e422bbd-b8c3-3dcb-8a83-b4212f63e4b5",
                    "type": "PROCESSOR",
                    "groupId": "58179739-8618-3170-ac4f-7f616bdb30e5",
                    "name": "LogAttribute",
                    "comments": "",
                    "instanceIdentifier": "91dc18e7-b14c-353a-0826-b5c213ecac72"
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "Response",
                    "No Retry",
                    "Retry",
                    "Original",
                    "Failure"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "58179739-8618-3170-ac4f-7f616bdb30e5"
            }
        ],
        "labels": [],
        "funnels": [],
        "controllerServices": [
            {
                "identifier": "939575cc-b2ed-328f-9581-1a5935cc7ec9",
                "instanceIdentifier": "3a94852b-4cc6-3aea-bac5-9d097792a031",
                "name": "GCPOauth2AccessTokenProvider",
                "comments": "",
                "type": "com.dloop.nifi.gcp.oauth2.GCPOauth2AccessTokenProvider",
                "bundle": {
                    "group": "com.dloop",
                    "artifact": "nifi-gcp-oauth2-provider-nar",
                    "version": "2.9.0"
                },
                "properties": {
                    "GCP Credentials Provider Service": "374afd3d-0b5a-308b-bdf9-a420d4290f57",
                    "Domain-wide delegation": null,
                    "Impersonate Service Account": null,
                    "Scope": "https://www.googleapis.com/auth/business.manage",
                    "Project ID": null
                },
                "propertyDescriptors": {
                    "GCP Credentials Provider Service": {
                        "name": "GCP Credentials Provider Service",
                        "displayName": "GCP Credentials Provider Service",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Domain-wide delegation": {
                        "name": "Domain-wide delegation",
                        "displayName": "Domain-wide delegation",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Impersonate Service Account": {
                        "name": "Impersonate Service Account",
                        "displayName": "Impersonate Service Account",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Scope": {
                        "name": "Scope",
                        "displayName": "Scope",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Project ID": {
                        "name": "Project ID",
                        "displayName": "Project ID",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "controllerServiceApis": [
                    {
                        "type": "org.apache.nifi.oauth2.OAuth2AccessTokenProvider",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-standard-services-api-nar",
                            "version": "2.9.0"
                        }
                    }
                ],
                "scheduledState": "DISABLED",
                "bulletinLevel": "WARN",
                "componentType": "CONTROLLER_SERVICE",
                "groupIdentifier": "58179739-8618-3170-ac4f-7f616bdb30e5"
            },
            {
                "identifier": "374afd3d-0b5a-308b-bdf9-a420d4290f57",
                "instanceIdentifier": "db90bc91-742f-3ff0-b070-fdc2a25df61f",
                "name": "GCPCredentialsControllerService",
                "comments": "",
                "type": "org.apache.nifi.processors.gcp.credentials.service.GCPCredentialsControllerService",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-gcp-nar",
                    "version": "2.9.0"
                },
                "properties": {
                    "Authentication Strategy": "Application Default Credentials",
                    "Scope": "https://www.googleapis.com/auth/cloud-platform",
                    "Audience": null,
                    "STS Token Endpoint": "https://sts.googleapis.com/v1/token",
                    "Service Account JSON File": null,
                    "Subject Token Provider": null,
                    "Delegation Strategy": "Service Account",
                    "Subject Token Type": "urn:ietf:params:oauth:token-type:jwt",
                    "Delegation User": null,
                    "Proxy Configuration Service": null
                },
                "propertyDescriptors": {
                    "Authentication Strategy": {
                        "name": "Authentication Strategy",
                        "displayName": "Authentication Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Scope": {
                        "name": "Scope",
                        "displayName": "Scope",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Audience": {
                        "name": "Audience",
                        "displayName": "Audience",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "STS Token Endpoint": {
                        "name": "STS Token Endpoint",
                        "displayName": "STS Token Endpoint",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Service Account JSON File": {
                        "name": "Service Account JSON File",
                        "displayName": "Service Account JSON File",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false,
                        "resourceDefinition": {
                            "cardinality": "SINGLE",
                            "resourceTypes": ["FILE"]
                        }
                    },
                    "Service Account JSON": {
                        "name": "Service Account JSON",
                        "displayName": "Service Account JSON",
                        "identifiesControllerService": false,
                        "sensitive": true,
                        "dynamic": false
                    },
                    "Subject Token Provider": {
                        "name": "Subject Token Provider",
                        "displayName": "Subject Token Provider",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Delegation Strategy": {
                        "name": "Delegation Strategy",
                        "displayName": "Delegation Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Subject Token Type": {
                        "name": "Subject Token Type",
                        "displayName": "Subject Token Type",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Delegation User": {
                        "name": "Delegation User",
                        "displayName": "Delegation User",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Proxy Configuration Service": {
                        "name": "Proxy Configuration Service",
                        "displayName": "Proxy Configuration Service",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "controllerServiceApis": [
                    {
                        "type": "org.apache.nifi.gcp.credentials.service.GCPCredentialsService",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-gcp-services-api-nar",
                            "version": "2.9.0"
                        }
                    }
                ],
                "scheduledState": "DISABLED",
                "bulletinLevel": "WARN",
                "componentType": "CONTROLLER_SERVICE",
                "groupIdentifier": "58179739-8618-3170-ac4f-7f616bdb30e5"
            }
        ],
        "defaultFlowFileExpiration": "0 sec",
        "defaultBackPressureObjectThreshold": 10000,
        "defaultBackPressureDataSizeThreshold": "1 GB",
        "scheduledState": "ENABLED",
        "executionEngine": "INHERITED",
        "maxConcurrentTasks": 1,
        "statelessFlowTimeout": "1 min",
        "flowFileConcurrency": "UNBOUNDED",
        "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
        "componentType": "PROCESS_GROUP"
    },
    "externalControllerServices": {},
    "parameterContexts": {},
    "flowEncodingVersion": "1.0",
    "parameterProviders": {},
    "latest": false
}
